@font-face {
  font-family: Foodicons;
  src: url("../resources/fonts/Foodicons.woff") format("woff");
}
@font-face {
  font-family: Gotham;
  font-weight: 400;
  src: url("../resources/fonts/Gotham-Book.otf") format("opentype");
}
@font-face {
  font-family: Gotham;
  font-weight: 500;
  src: url("../resources/fonts/Gotham-Medium.otf") format("opentype");
}
@font-face {
  font-family: Gotham;
  font-weight: 700;
  src: url("../resources/fonts/Gotham-Bold.otf") format("opentype");
}
body {
  margin: 0;
  font-family: Gotham, sans-serif;
}

a {
  text-decoration: none;
}

button {
  border: none;
}
button:hover {
  cursor: pointer;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.generic-heading {
  font-size: 20px;
  text-transform: uppercase;
}

.generic-button {
  color: rgb(0, 0, 0);
  background-color: rgb(119, 226, 225);
  font-weight: bold;
}
.generic-button:hover {
  background-color: rgb(137, 32, 116);
  color: rgb(255, 255, 255);
}

.purple-link {
  color: rgb(137, 32, 116);
}

.purple-hover-link:hover {
  color: rgb(137, 32, 116);
}

.blue-link {
  color: rgb(119, 226, 225);
}

.the-header {
  position: relative;
  background-color: #000;
}

.the-header__content {
  display: grid;
  grid-template-columns: repeat(2, auto) 1fr repeat(3, auto);
  align-items: center;
  column-gap: 22px;
  max-width: 1300px;
  height: 82px;
  padding: 0 24px;
  margin: auto;
}

.the-header__menu-button {
  background-color: transparent;
}
.the-header__menu-button:focus ~ .the-header__list {
  display: block;
}

.the-header__list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  padding: 16px 24px;
  width: 350px;
  max-height: calc(100vh - 82px);
  box-sizing: border-box;
  overflow: auto;
  background-color: black;
  color: #fff;
}

.the-header__links-heading {
  margin: 0;
  font-size: 20px;
  text-transform: uppercase;
}

.the-header__inner-list {
  display: grid;
  row-gap: 12px;
  padding: 16px 0 48px;
}

.the-header__inner-list-link {
  color: white;
}
.the-header__inner-list-link:hover {
  color: rgb(119, 226, 225);
}

.the-header__see-more {
  font-weight: bold;
}

/***************** MEDIA QUERIES ******************/
@media (min-width: 1200px) {
  .the-header__content {
    grid-template-columns: repeat(5, auto);
  }
  .the-header__menu-button {
    display: none;
  }
  .the-header__inner-list {
    display: none;
    row-gap: 16px;
    position: absolute;
    top: calc(100% + 3px);
    left: -32px;
    width: max-content;
    padding: 32px;
    background-color: #000;
  }
  .the-header__inner-list:hover {
    cursor: default;
  }
  .the-header__list {
    display: grid;
    grid-template-columns: repeat(7, auto);
    column-gap: 16px;
    position: static;
    width: auto;
    overflow: visible;
  }
  .the-header__list-item {
    position: relative;
    border-bottom: 3px solid black;
  }
  .the-header__list-item:hover {
    cursor: pointer;
    border-bottom: 3px solid rgb(119, 226, 225);
  }
  .the-header__list-item:hover .the-header__inner-list {
    display: grid;
  }
  .the-header__links-heading {
    font-size: 15px;
  }
  .the-header__empty-column {
    display: none;
  }
}
.the-main-first-section {
  display: grid;
  row-gap: 8px;
  padding-bottom: 64px;
  background-color: rgb(240, 240, 240);
}

.first-section__top-link {
  position: relative;
}

.first-section__top-link-image {
  display: block;
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.first-section__top-link-span {
  position: absolute;
  left: 32px;
  bottom: 6px;
  font-size: 32px;
  color: rgb(255, 255, 255);
  text-shadow: 0 2px 12px rgba(0, 0, 0, 0.62);
  font-weight: bold;
}

.first-section-whats-fresh {
  margin: 16px auto 0;
  width: 90%;
  text-align: center;
}

.whats-fresh__heading-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-around;
  align-items: center;
  padding: 8px 0;
  border-bottom: 5px solid rgb(119, 226, 225);
  background-color: rgb(0, 0, 0);
}

.whats-fresh__heading {
  margin: 0;
  font-size: 14px;
  color: rgb(255, 255, 255);
  letter-spacing: 5px;
  text-transform: uppercase;
}

.whats-fresh__heading-sparkle {
  height: 26px;
}

.whats-fresh__content {
  background-color: rgb(255, 255, 255);
}

.whats-fresh__generic-link {
  color: rgb(137, 32, 116);
}
.whats-fresh__generic-link:hover {
  text-decoration: underline;
}

.whats-fresh__post {
  display: flex;
  column-gap: 16px;
  padding: 24px;
  text-align: left;
}
.whats-fresh__post:not(.whats-fresh__post:first-of-type) {
  border-top: 1px solid rgb(240, 240, 240);
}

.whats-fresh__post-icon-container {
  padding-top: 6px;
}

.whats-fresh__post-heading {
  font-size: 12px;
  margin: 0;
}

.whats-fresh__post-time {
  display: block;
  margin-bottom: 12px;
  font-size: 10px;
  color: rgb(140, 140, 140);
}

.whats-fresh__post-paragraph {
  margin: 0;
  font-size: 12px;
  line-height: 150%;
}

.whats-fresh__post-image {
  display: block;
  width: 100%;
}

.whats-fresh__view-all {
  display: block;
  padding: 8px 0;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: rgb(0, 0, 0);
  color: rgb(119, 226, 225);
  font-weight: bold;
}
.whats-fresh__view-all:hover {
  color: rgb(255, 255, 255);
}

.bottom-link {
  display: block;
  margin: 32px auto 0;
  width: 95%;
  padding-bottom: 48px;
  border-bottom: 5px solid rgb(119, 226, 225);
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: bold;
}
.bottom-link:hover .bottom-link__second-span {
  color: rgb(137, 32, 116);
}

.bottom-link__image {
  display: block;
  width: 100%;
}

.bottom-link__first-span-container {
  display: flex;
  transform: translateY(-50%);
}

.bottom-link__first-span {
  display: inline-block;
  padding: 8px 16px 8px 24px;
  font-size: 12px;
  line-height: 100%;
  background-color: rgb(119, 226, 225);
}

.bottom-link__first-span--black {
  background-color: rgb(0, 0, 0);
  color: rgb(119, 226, 225);
}

.bottom-link__first-span--special {
  visibility: hidden;
}

.bottom-link__first-span-traingles {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 8px;
  border-color: rgb(119, 226, 225) transparent rgb(119, 226, 225) transparent;
  margin-left: -8px;
}

.bottom-link__first-span-traingles--black {
  border-color: rgb(0, 0, 0) transparent rgb(0, 0, 0) transparent;
}

.bottom-link__second-span {
  display: block;
  font-size: 16px;
  padding-left: 24px;
}

.cool-sections-container {
  padding: 48px 0;
  background-color: rgb(255, 255, 255);
}

.section-type-1 {
  background-color: rgb(255, 255, 255);
  padding: 0 48px;
  margin-bottom: 48px;
}

.section-type-1__heading {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  margin: 0 0 32px;
}

.section-type-1__content-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 24px 48px;
}

.section-type-1__article-image-container {
  display: block;
  margin-bottom: 8px;
}

.section-type-1__article-image {
  display: block;
  width: 100%;
}

.section-type-1__article-name-link {
  font-size: 12px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.section-type-1__article-name-link:hover {
  text-decoration: underline;
}

.section-type-1__article-author-span {
  display: block;
  font-size: 12px;
  line-height: 200%;
}

.section-type-1__article-author-link {
  color: rgb(137, 32, 116);
  font-weight: bold;
}
.section-type-1__article-author-link:hover {
  text-decoration: underline;
}

.section-type-1__article-rating-container {
  display: flex;
  gap: 8px;
}

.section-type-1__star-image {
  width: 14px;
}

.section-type-1__article-rating-span {
  font-size: 12px;
  color: rgb(137, 32, 116);
  font-weight: bold;
}
.section-type-1__article-rating-span:hover {
  text-decoration: underline;
}

.section-type-1__view-all {
  display: block;
  margin-top: 32px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  color: rgb(137, 32, 116);
}
.section-type-1__view-all:hover {
  text-decoration: underline;
}

.section-type-2 {
  background-color: rgb(255, 255, 255);
  padding: 0 24px;
  margin-bottom: 48px;
}

.section-type-2-last {
  margin: 0;
}

.section-type-2__heading {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  margin: 0 0 32px;
}

.section-type-2__article {
  position: relative;
  margin-bottom: 16px;
}

.section-type-2__article-image {
  display: block;
  width: 100%;
}

.section-type-2__article-span {
  position: absolute;
  bottom: 56px;
  left: 12px;
  padding: 4px 16px;
  font-size: 13px;
  text-transform: uppercase;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.section-type-2__article-heading {
  position: absolute;
  bottom: 12px;
  left: 12px;
  margin: 0;
  padding: 4px 16px;
  font-size: 16px;
  text-transform: uppercase;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

@media (min-width: 600px) {
  .section-type-2__article-heading {
    font-size: 25px;
  }
}
.search-form {
  padding: 32px;
  background-image: linear-gradient(140deg, rgb(228, 25, 128) 10%, rgb(103, 20, 110) 60%);
}

.search-form__span {
  display: block;
  width: max-content;
  margin: auto;
  padding: 12px;
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  text-decoration: 3px underline rgb(137, 32, 116);
  text-underline-offset: 4px;
  text-transform: uppercase;
}

.search-form__input-container {
  margin-bottom: 12px;
  background-color: rgb(255, 255, 255);
  padding: 16px 12px;
}

.search-form__input-text {
  display: block;
  width: 100%;
  padding-bottom: 4px;
  font-size: 12px;
  border: none;
  border-bottom: 3px solid rgb(137, 32, 116);
}

.search-form__button {
  display: block;
  margin: auto;
  padding: 12px 18px;
  font-size: 13px;
  background-color: rgb(119, 226, 225);
  font-weight: bold;
  text-transform: uppercase;
}
.search-form__button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(137, 32, 116);
}

.the-footer {
  padding: 16px 32px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 12px;
}

.the-footer-link {
  color: rgb(119, 226, 225);
}
.the-footer-link:hover {
  text-decoration: underline;
}

.the-footer__back-to-top-button {
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.the-footer__ul {
  display: grid;
  grid-auto-flow: column;
  column-gap: 12px;
  justify-content: left;
  margin: 12px 0;
}

.the-footer__social-icon {
  width: 16px;
}

.the-footer__last-ul {
  margin-bottom: 0;
}

/*# sourceMappingURL=main.css.map */
