@use 'var';

@font-face {
  font-family: Foodicons;
  src: url('../resources/fonts/Foodicons.woff') format('woff');
}

@font-face {
  font-family: Gotham;
  font-weight: 400;
  src: url('../resources/fonts/Gotham-Book.otf') format('opentype');
}

@font-face {
  font-family: Gotham;
  font-weight: 500;
  src: url('../resources/fonts/Gotham-Medium.otf') format('opentype');
}

@font-face {
  font-family: Gotham;
  font-weight: 700;
  src: url('../resources/fonts/Gotham-Bold.otf') format('opentype');
}


body {
  margin: 0;
  font-family: Gotham, sans-serif;
}

a {
  text-decoration: none;
}

button {
  border: none;
  &:hover {
    cursor: pointer;
  }
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.generic-heading {
  font-size: 20px;
  text-transform: uppercase;
}

.generic-button {
  color: rgb(0, 0, 0);
  background-color: var.$nice-blue;
  font-weight: bold;
  &:hover {
    background-color: var.$nice-purple;
    color: rgb(255, 255, 255);
  }
}

.purple-link {
  color: var.$nice-purple;
}

.purple-hover-link {
  &:hover {
    color: var.$nice-purple;
  }
}

.blue-link {
  color: var.$nice-blue;
}