@use '../general/var';

.search-form {
  padding: 32px;
  background-image: linear-gradient(140deg, rgb(228, 25, 128) 10%, rgb(103, 20, 110) 60%);
}

.search-form__span {
  display: block;
  width: max-content;
  margin: auto;
  padding: 12px;
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  text-decoration: 3px underline var.$nice-purple;
  text-underline-offset: 4px;
  text-transform: uppercase;
}

.search-form__input-container {
  margin-bottom: 12px;
  background-color: rgb(255, 255, 255);
  padding: 16px 12px;
}

.search-form__input-text {
  display: block;
  width: 100%;
  padding-bottom: 4px;
  font-size: 12px;
  border: none;
  border-bottom: 3px solid var.$nice-purple;
}

.search-form__button {
  display: block;
  margin: auto;
  padding: 12px 18px;
  font-size: 13px;
  background-color: var.$nice-blue;
  font-weight: bold;
  text-transform: uppercase;
  &:hover {
    color: rgb(255, 255, 255);
    background-color: var.$nice-purple;
  }
}